scripts/download_audio.txt

scripts/twin_app.html

scripts/controller.html

scripts/debug.html

scripts/mobile_debug.html

desktop_test.wav

output_fine_tuned_test.wav

audio_data/attenborough_cut.mp4

trainer_0_log.txt

training_metrics.csv

metadata.csv

plot_metrics.py

training_progress.jpg

image_data/avatar.jpg